h1,h2,h3,h4,h5,h6,p,body{
	
font-family: verdana;
}

h1 {
	color : darkblue;
	text-align: center;
	border : 3px blue groove;
	border-radius : 10444px;
	font-size : 30px ; 
}
h2{
	color: rgb(1, 1, 86);
	font-weight : bold;
	text-decoration: underline;,
}
h3{
	color : rgb(55, 8, 221);
	font-size: 22px;
}
h4{
	text-align:center;
}
body{
    background: url(Univers2.jpeg) repeat;
}

a:hover {
    color: red;
	
}

p{
	font-size : large;
	text-align:justify;
	
	
	
	
}
